# Superstore Sales Data to MySQL

## Introduction

In this notebook, will be working with the "Superstore Dataset," a comprehensive sales dataset available on Kaggle. The dataset includes sales data for multiple products sold by a store, along with additional information such as geography, product categories and subcategories, sales and profits, and consumer segmentation.

### About the Dataset

The Superstore Dataset provides a rich source of information that can be leveraged to gather valuable insights and improve marketing and sales strategies. The dataset includes:

- **Sales Data**: Information about sales transactions, including dates, quantities, and prices.
- **Geography**: Data on the locations where sales occurred.
- **Product Categories**: Classification of products into categories and subcategories.
- **Profits**: Details on the profit generated from sales.
- **Consumer Segmentation**: Segmentation data to analyze different consumer groups.

The dataset is pre-cleaned and is ideal for learning about various operations and elements involved in retail sales data analysis.

### Objective

The primary objective of this notebook is to:
1. Load the pre-cleaned Superstore Dataset from a CSV file.
2. Store the data in a MySQL database for efficient storage and retrieval.
3. Prepare the data for further analysis and visualization.

By the end of this notebook, the Superstore sales data will be successfully stored in a MySQL database, ready for further analysis and dashboard creation using Tableau.

### Data Source

The Superstore Dataset used in this notebook is sourced from Kaggle. You can find and download the dataset from the following link:
[Kaggle: Superstore Dataset](https://www.kaggle.com/datasets/aditisaxena20/superstore-sales-dataset)

Let's get started by loading the dataset and preparing it for storage in the MySQL database.

In [2]:
# importing the required libraries 
import pandas as pd
from sqlalchemy import create_engine, text

# Connect to the MySQL server using an existing database
engine = create_engine("mysql+pymysql://root:MySQL%404321@127.0.0.1:3306/mysql")

# Create a new database if it doesn't exist
with engine.connect() as connection:
    connection.execute(text("CREATE DATABASE IF NOT EXISTS superstore_sales_data"))

# Connect to the newly created database
engine_new_db = create_engine("mysql+pymysql://root:MySQL%404321@127.0.0.1:3306/superstore_sales_data")

# Read CSV data into DataFrames
df = pd.read_csv('superstore_sales_data.csv')

# Write DataFrames to MySQL database using the engine for the new database
df.to_sql(name='sales_data', con=engine_new_db, if_exists='replace', index=False, method="multi")

51290

In [2]:
%load_ext sql
%sql mysql+pymysql://root:MySQL%404321@127.0.0.1:3306/superstore_sales_data

In [3]:
# SQL query to fetch first 5 rows data from the sales_data table
%sql SELECT * FROM sales_data LIMIT 5;

 * mysql+pymysql://root:***@127.0.0.1:3306/superstore_sales_data
5 rows affected.

[('AG-2011-2040', '1/1/2011', '6/1/2011', 'Standard Class', 'Toby Braunhardt', 'Consumer', 'Constantine', 'Algeria', 'Africa', 'Africa', 'OFF-TEN-10000025', 'Office Supplies', 'Storage', 'Tenex Lockers, Blue', '408', 2, 0.0, 106.14, 35.46, 'Medium', 2011),
 ('IN-2011-47883', '1/1/2011', '8/1/2011', 'Standard Class', 'Joseph Holt', 'Consumer', 'New South Wales', 'Australia', 'APAC', 'Oceania', 'OFF-SU-10000618', 'Office Supplies', 'Supplies', 'Acme Trimmer, High Speed', '120', 3, 0.1, 36.036, 9.72, 'Medium', 2011),
 ('HU-2011-1220', '1/1/2011', '5/1/2011', 'Second Class', 'Annie Thurman', 'Consumer', 'Budapest', 'Hungary', 'EMEA', 'EMEA', 'OFF-TEN-10001585', 'Office Supplies', 'Storage', 'Tenex Box, Single Width', '66', 4, 0.0, 29.64, 8.17, 'High', 2011),
 ('IT-2011-3647632', '1/1/2011', '5/1/2011', 'Second Class', 'Eugene Moren', 'Home Office', 'Stockholm', 'Sweden', 'EU', 'North', 'OFF-PA-10001492', 'Office Supplies', 'Paper', 'Enermax Note Cards, Premium', '45', 3, 0.5, -26.055, 4.82, 'High', 2011),
 ('IN-2011-47883', '1/1/2011', '8/1/2011', 'Standard Class', 'Joseph Holt', 'Consumer', 'New South Wales', 'Australia', 'APAC', 'Oceania', 'FUR-FU-10003447', 'Furniture', 'Furnishings', 'Eldon Light Bulb, Duo Pack', '114', 5, 0.1, 37.77, 4.7, 'Medium', 2011)]

In [4]:
# The total number of sales recorded in the sales_data table.

%sql SELECT COUNT(*) AS The_Total_Number_Of_Sales_Recroded FROM sales_data;

 * mysql+pymysql://root:***@127.0.0.1:3306/superstore_sales_data
1 rows affected.

[(51290,)]